<header
    class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
    style="background-color: #142E79"
    >

    <a
        href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
        >
        <svg class="bi me-2" width="20" height="10">
        <use xlink:href="/"></use>
        </svg>
        <span class="fs-4">
            
            <img th:src="@{/logo.png}" alt="logo" />

            <!--
            <h1>
                <strong><i>Chacras de Coria Contrataciones</i></strong>
            </h1> -->
        </span>
    </a>
    <!-- <img th:src="@{/logo.png}" alt="logo" /> -->


    <p align="right" style="color: white">
        <i>
            donde sus Contratacion es.. <br />
            encuentran su Proveedor..
        </i>
    </p>
</header>
