<nav
  class="navbar navbar-expand-lg bg-body-tertiary"
  style="background-color: rgb(99, 46, 203)"
>
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/}">Inicio</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            th:if="${session.usuariosession == null}"
            href="/iniciarSesion"
            >Iniciar Sesion</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            th:if="${session.usuariosession == null}"
            href="/registro"
            >Registrar</a
          >
        </li>
        <!-- <li>
          <a>Usuario</a>
          <ul>
            <li>Perfil</li>
            <li>Editar Perfil</li>
            <li>Cerrar Sesion</li>
          </ul>
        </li>
        <li>
          <a>Proveedores</a>
          <ul></ul>
        </li>
        <li>
          <a>Servicios</a>
          <ul></ul>
        </li>
        <li>
          <a
            >Contrataciones
            <ul></ul
          ></a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
