<nav class="navbar navbar-expand-lg bg-body-tertiary"
     style="    padding-right: calc(var(--bs-gutter-x) * 3);
     padding-left: calc(var(--bs-gutter-x) * 3);;
     --bs-navbar-padding-y: 0;
     ">
    <div class="container-fluid" style="background-color: #142e79">
        <a
            class="navbar-brand"
            style="color: white"
            th:if="${session.usuario != null}"
            th:href="@{/inicio}"
            >Inicio</a
        >
        <a
            class="navbar-brand"
            style="color: white"
            th:if="${session.usuario == null}"
            th:href="@{/}"
            >Inicio</a
        >
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarScroll"
            aria-controls="navbarScroll"
            aria-expanded="false"
            aria-label="Toggle navigation"
            >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="nav justify-content-end">
            <div
                class="collapse navbar-collapse justify-content-end"
                id="navbarScroll"
                >
                <ul
                    class="nav nav-tabs navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
                    style="--bs-scroll-height: 150px"
                    >

                    <li class="nav-item">
                        <a
                            class="nav-link"
                            style="color: white"
                            data-bs-toggle="modal" data-bs-target="#login"
                            th:if="${session.usuario == null}"
                            href="/#"
                            >Ingresar</a
                        >
                    </li>

                    <li class="nav-item">
                        <a
                            class="nav-link"
                            style="color: white"
                            data-bs-toggle="modal" data-bs-target="#miModal"
                            th:if="${session.usuario == null}"
                            href="/#"
                            >Registrar</a
                        >
                    </li>
                    <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                        <a
                            class="nav-link dropdown-toggle"
                            style="color: white"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            th:if="${session.usuario != null}"
                            >
                            Usuarios
                        </a>
                        <ul
                            class="dropdown-menu dropdown-menu-lg-end"
                            style="background-color: #142e79;
                            --bs-dropdown-link-hover-bg: #519dea;"
                            >
                            <li sec:authorize="hasRole('ADMIN')">
                                <a
                                    class="dropdown-item"
                                    style="color: white"
                                    th:href="@{/usuario/lista}"
                                    >Lista de Usuarios</a
                                >
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            style="color: white"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            th:if="${session.usuario != null}"
                            sec:authorize="hasAnyRole('USER', 'ADMIN')"
                            >
                            Proveedores
                        </a>
                        <ul
                            class="dropdown-menu dropdown-menu-lg-end"
                            style="background-color: #142e79;
                            --bs-dropdown-link-hover-bg: #519dea;"
                            >
                            <li>
                                <a
                                    class="dropdown-item"
                                    style="color: white"
                                    th:href="@{/proveedor/lista}"
                                    >Lista de Proveedores</a
                                >
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            style="color: white"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            sec:authorize="hasRole('ADMIN')"
                            th:if="${session.usuario != null}"
                            >
                            Rubros
                        </a>
                        <ul
                            class="dropdown-menu dropdown-menu-lg-end"
                            style="background-color: #142e79;
                            --bs-dropdown-link-hover-bg: #519dea;"
                            >
                            <li>
                                <a
                                    class="dropdown-item"
                                    style="color: white"
                                    th:href="@{/rubro/lista}"
                                    >Lista de Rubros</a
                                >
                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    style="color: white"
                                    th:href="@{/rubro/registrar}"
                                    >Crear un Rubro</a
                                >
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            style="color: white"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            th:if="${session.usuario != null}"
                            >
                            Contrataciones
                        </a>
                        <ul
                            class="dropdown-menu dropdown-menu-lg-end"
                            style="background-color: #142e79;
                            --bs-dropdown-link-hover-bg: #519dea;"
                            >
                            <li>
                                <a
                                    class="dropdown-item"
                                    th:href="@{/contratacion/lista}"
                                    style="color: white"
                                    sec:authorize="hasRole('ADMIN')"
                                    >Lista de Contrataciones</a
                                >
                            </li>

                            <li>
                                <a
                                    class="dropdown-item"
                                    th:href="@{/usuario/contrataciones/__${session.usuario.id}__}"
                                    style="color: white"
                                    sec:authorize="hasRole('USER')"
                                    >Mis Contrataciones</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    th:href="@{/contratacion/historial/__${session.usuario.id}__}"
                                    style="color: white"
                                    sec:authorize="hasRole('PROVEEDOR')"
                                    >Mis Contrataciones</a
                                >
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            style="color: white"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            sec:authorize="hasRole('PROVEEDOR')"
                            th:if="${session.usuario != null}"
                            >
                            Reseñas
                        </a>
                        <ul
                            class="dropdown-menu dropdown-menu-lg-end"
                            style="background-color: #142e79;
                            --bs-dropdown-link-hover-bg: #519dea;"
                            >
                            <li>
                                <a
                                    class="dropdown-item"
                                    style="color: white"
                                    th:href="@{/resenia/lista/__${session.usuario.id}__}"
                                    sec:authorize="hasRole('PROVEEDOR')"
                                    >Lista de Reseñas</a
                                >
                            </li>
                        </ul>
                        
                        
                    </li>
                    
                    
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            style="color: white"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            sec:authorize="hasRole('ADMIN')"
                            th:if="${session.usuario != null}"
                            >
                            Reseñas
                        </a>
                        <ul
                            class="dropdown-menu dropdown-menu-lg-end"
                            style="background-color: #142e79;
                            --bs-dropdown-link-hover-bg: #519dea;"
                            >
                            <li>
                                <a
                                    class="dropdown-item"
                                    style="color: white"
                                    th:href="@{/resenia/lista}"
                                    sec:authorize="hasRole('ADMIN')"
                                    >Lista de Reseñas</a
                                >
                            </li>
                        </ul>
                        
                        
                    </li>
                    
                    
                    
                    
                    
                    
                    

                    <div class="dropdown text-end">
                        <a
                            class="d-block link-light text-decoration-none dropdown-toggle"
                            id="dropdownUser1"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            th:if="${session.usuario != null}"
                            >
                            <img
                                th:src="@{/imagen/perfil/__${session.usuario.id}__}"
                                alt="mdo"
                                width="32"
                                height="32"
                                />
                        </a>

                        <ul
                            class="dropdown-menu dropdown-menu-lg-end"
                            style="background-color: #142e79;
                            --bs-dropdown-link-hover-bg: #519dea;"
                            >
                            <li>
                                <a
                                    class="dropdown-item"
                                    style="color: white"
                                    th:href="@{/admin/dashboard}"
                                    sec:authorize="hasRole('ADMIN')"
                                    >Panel</a
                                >
                            <li><hr class="dropdown-divider" sec:authorize="hasRole('ADMIN')" /></li>
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    style="color: white"
                                    th:href="@{/usuario/perfil}"
                                    >Perfil</a
                                >
                            </li>
                            <li><hr class="dropdown-divider" /></li>
                            <li sec:authorize="hasAnyRole('ADMIN', 'USER')" >
                                <a
                                    class="dropdown-item"
                                    style="color: white"
                                    th:href="@{/usuario/editarPerfil/{id}}"
                                    >Editar Perfil</a
                                >
                            </li>
                            <li sec:authorize="hasRole('PROVEEDOR')">
                                <a
                                    class="dropdown-item"
                                    style="color: white"
                                    th:href="@{/proveedor/editarPerfil/{id}}"
                                    >Editar Perfil</a
                                >
                            </li>
                            <li><hr class="dropdown-divider" /></li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    style="color: rgb(242, 14, 14)"
                                    href="/logout"
                                    >Cerrar Sesion</a
                                >
                            </li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</nav>
