<section class="text-center container">
  <div class="row mt-3">
    <div class="divVolver">
      <a
        sec:authorize="hasAnyRole('USER', 'PROVEEDOR')"
        th:href="@{/inicio}"
        class="btn btn-danger my-2 botonVolver botones"
        th:if="${session.usuario != null}"
        >Volver</a
      >
      <a
      th:href="@{/}"
      class="btn btn-danger my-2 botonVolver botones"
      th:if="${session.usuario == null}"

      >Volver</a
    >
      <a
        sec:authorize="hasRole('ADMIN')"
        th:href="@{/admin/dashboard}"
        class="btn btn-danger my-2 botonVolver botones"
        >Volver</a
      >
    </div>
  </div>
</section>
