<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head th:replace="/fragments/head :: head "></head>
  <body style="background-color: rgb(99, 46, 203)">
    <header th:replace="/fragments/header :: header "></header>
    <h1 style="text-align: center; color: blanchedalmond">
      Chacras de Coria Contrataciones
    </h1>
    <nav id="nav-1" th:replace="/fragments/nav :: nav"></nav>

    <div id="contenido"></div>

    <script th:replace="/fragments/script :: script "></script>
    <footer th:replace="/fragments/footer :: footer"></footer>
  </body>
</html>
