<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head th:replace="/fragments/head :: head "></head>

  <body>
    <header th:replace="/fragments/header :: header "></header>
    <nav id="nav-1" th:replace="/fragments/nav :: nav"></nav>

    <div class="container my-5">
      <div class="p-5 text-center bg-body-tertiary rounded-3">
        <form
          class="formulario"
          th:action="@{/contratacion/contratado/__${id}__}"
          method="POST"
          enctype="multipart/form-data"
        >
          <input
            type="text"
            hidden
            th:value="${proveedor.id}"
            name="idProveedor"
          />
          <p th:text="'Profesional: '+${proveedor.nombre} "></p>
          <select name="rubro" required>
            <option value="">Elija un rubro</option>
            <option
              th:each="rubro : ${rubros}"
              th:value="${rubro.id}"
              th:text="${rubro.nombre}"
            ></option>
          </select>
          <!--  <input type="text" hidden th:value="${rubros.id}" name="rubros" />
          <p th:text="'Rubro: '+${rubros.nombre} "></p>-->
          <p th:text="'Presupuesto: '+${proveedor.precioHora} "></p>
          <input
            type="text"
            hidden
            th:value="${session.usuario.id}"
            name="idCliente"
          />
          <p th:text="'Contrata: '+${session.usuario.nombre} "></p>
          <button type="submit" class="btn btn-primary mt-3 botones">
            Aceptar
          </button>

          <div id="exito/error">
            <div
              th:if="${exito != null}"
              id="exito"
              class="card text-white bg-success mb-3 mt-3 mensajeExito"
            >
              <h5>exito</h5>
              <p th:text="${exito}"></p>
            </div>
            <div
              th:if="${error != null}"
              id="error"
              class="card text-white bg-danger mb-3 mensajeError"
            >
              <h5>error</h5>
              <p th:text="${error}"></p>
            </div>
          </div>
        </form>
      </div>
    </div>

    <script th:replace="/fragments/script :: script "></script>
    <footer th:replace="/fragments/footer :: footer"></footer>
  </body>
</html>
