<!DOCTYPE html>

<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head th:replace="/fragments/head :: head "></head>

  <body>
    <header th:replace="/fragments/header :: header "></header>
    <nav id="nav-1" th:replace="/fragments/nav :: nav"></nav>

    <h1>hola</h1>

    <!-- 
    <div sec:authorize="hasRole('PROVEEDOR')"class="perfil-card">
      <h2 th:text="${proveedor.nombre}"></h2>
      <p th:text="${proveedor.apellido}"></p>
      Otros campos según tus necesidades 
    </div> -->

    <div id="exito/error">
      <div
        th:if="${exito != null}"
        id="exito"
        class="card text-white bg-success mb-3 mt-3 mensajeExito"
      >
        <h5>exito</h5>
        <p th:text="${exito}"></p>
      </div>
      <div
        th:if="${error != null}"
        id="error"
        class="card text-white bg-danger mb-3 mensajeError"
      >
        <h5>error</h5>
        <p th:text="${error}"></p>
      </div>
    </div>

    <script th:replace="/fragments/script :: script "></script>
    <footer th:replace="/fragments/footer :: footer"></footer>
  </body>
</html>
