<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    >
    <head th:replace="~{/fragments/head :: head}"></head>

    <body>
        <header th:replace="~{/fragments/header :: header}"></header>
        <nav th:replace="~{/fragments/nav :: nav}"></nav>

        <div class="form-group my-3" style="position: relative; display: inline-block;">
            <img th:src="@{/18.png}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" style="width: 100%;">
            <p style="position: absolute; top: 0; left: 0; width: 100%; text-align: center; color: black; font-size: 20px; font-weight: bold;" th:text="'Error ' + ${codigo} + ' ' + ${mensaje}"></p>
        </div>

        <section th:replace="~{/fragments/section :: section}"></section>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- <script th:replace="/fragments/script :: script "></script> -->
        <footer th:replace="/fragments/footer :: footer"></footer>
    </body>
</html>
