<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head th:replace="/fragments/head :: head "></head>
  <body>
    <h1>hola</h1>
    <header th:replace="/fragments/header :: header "></header>
    <nav th:replace="/fragments/navbar :: nav"></nav>
    <footer th:replace="/fragments/footer :: footer"></footer>
    <script th:replace="/fragments/script :: script "></script>
  </body>
</html>
