<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    >
    <head th:replace="~{/fragments/head :: head}"></head>
    <body>
        <header th:replace="~{/fragments/header :: header}"></header>
        <nav th:replace="~{/fragments/nav :: nav}"></nav>

        <div id="exito/error">
            <div
                th:if="${exito != null}"
                id="exito"
                class="card text-white bg-success mb-3 mt-3 mensajeExito"
                >
                <h5>exito</h5>
                <p th:text="${exito}"></p>
                <a
                    style="color: white"
                    href="/logout"
                    >Cerrar Sesión</a
                >
            </div>
            <div
                th:if="${error != null}"
                id="error"
                class="card text-white bg-danger mb-3 mensajeError"
                >
                <h5>error</h5>
                <p th:text="${error}"></p>
            </div>
        </div>

        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img
                        th:src="@{/4.png}"
                        class="d-block mx-lg-auto img-fluid"
                        alt="Bootstrap Themes"
                        width="700"
                        height="500"
                        loading="lazy"
                        />
                </div>
                <div class="col-lg-6">
                    <br />
                    <h1
                        class="display-5 fw-bold lh-1 mb-3"
                        th:text=" 'Hola, '+ ${session.usuario.nombre} "
                        ></h1>
                    <div sec:authorize="hasRole('ADMIN')">
                        <p class="lead">
                            Te invitamos a controlar la plataforma, ingresar y eliminar nuevos
                            rubros, ver todos los usuarios y contrataciones.
                        </p>

                        <p class="lead">
                            Conectando necesidades con soluciones. Tu Servicio a un Click de
                            distancia.
                        </p>
                    </div>

                    <div sec:authorize="hasRole('USER')">
                        <p class="lead">
                            Te invitamos a explorar la plataforma, descubrir talentosos
                            proveedores y encontrar soluciones a medida para tus necesidades.
                        </p>

                        <p class="lead">
                            Conectando necesidades con soluciones. Tu Servicio a un Click de
                            distancia.
                        </p>
                    </div>

                    <div sec:authorize="hasRole('PROVEEDOR')">
                        <p class="lead">
                            Te invitamos a explorar la plataforma, y encontrar trabajos a
                            medida para tus necesidades.
                        </p>

                        <p class="lead">
                            Conectando necesidades con soluciones. Tu Servicio a un Click de
                            distancia.
                        </p>
                    </div>

          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button
              type="button"
              class="btn btn-primary btn-lg px-4 me-md-2"
              sec:authorize="hasRole('ADMIN')"
            >
              <a style="color: white" th:href="@{/usuario/lista}">Explorar</a>
            </button>
            <button
              type="button"
              class="btn btn-primary btn-lg px-4 me-md-2"
              sec:authorize="hasRole('USER')"
            >
              <a style="color: white" th:href="@{/proveedores/lista}"
                >Explorar</a
              >
            </button>
            <button
              type="button"
              class="btn btn-primary btn-lg px-4 me-md-2"
              sec:authorize="hasRole('PROVEEDOR')"
            >
              <a style="color: white" th:href="@{/contratacion/lista}"
                >Explorar</a
              >
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="container my-5">
      <div
        class="row p-4 pb-0 pe-lg-0 pt-lg-0 align-items-center rounded-3 border shadow-lg"
      >
        <div class="col-10 col-sm-8 col-lg-6">
          <img
            th:src="@{/5.png}"
            class="d-block mx-lg-auto img-fluid"
            alt="Bootstrap Themes"
            width="700"
            height="500"
            loading="lazy"
          />
        </div>
        <div class="col-lg-6">
          <p class="lead fw-bold" mb-3>Profesiones:</p>
          <p class="lead">-Plomeros</p>
          <p class="lead">-Electricistas</p>
          <p class="lead">-Jardineros</p>
          <p class="lead">-Pintores</p>
          <p class="lead">-Y mucho más</p>
        </div>
      </div>
    </div>

        <section th:replace="~{/fragments/section :: section}"></section>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- <script th:replace="/fragments/script :: script "></script> -->
        <footer th:replace="~{/fragments/footer :: footer}"></footer>
    </body>
</html>
