<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head th:replace="/fragments/head :: head "></head>
  <body>
    <header th:replace="/fragments/header :: header "></header>
    <nav id="nav-1" th:replace="/fragments/nav :: nav"></nav>

    <div class="container my-5">
      <div class="p-5 text-center bg-body-tertiary rounded-3">

            <img
      th:src="@{/8.png}"
      class="d-block mx-lg-auto img-fluid"
      alt="Bootstrap Themes"
    /><br/>

      <table style="align-self: center;" class="table" >
        <thead>
          <tr>
            <th>Usuarios</th>
            <th>Proveedores</th>
            <th>Rubros</th>
            <th>Contrataciones</th>
            <th>Reseñas</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >
              <a style="color: black" href="/usuario/lista">Listar Usuarios</a></button>
            </td>
            <td>
              <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >
              <a style="color: black" href="/proveedor/lista">Listar Proveedores</a></button>
            </td>
            <td>
              <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >
              <a style="color: black" href="/rubro/lista">Listar Rubros</a></button>
            </td>
            <td>
              <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >
              <a style="color: black" href="/contratacion/lista">Listar Contrataciones</a></button>
            </td>
            <td>
              <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >
              <a style="color: black" href="/resenia/lista">Listar Reseñas</a></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    
    
      <div
        th:if="${exito != null}"
        id="exito"
        class="card text-white bg-success mb-3 mt-3 mensajeExito"
      >
        <h5>exito</h5>
        <p th:text="${exito}"></p>
      </div>
      <div
        th:if="${error != null}"
        id="error"
        class="card text-white bg-danger mb-3 mensajeError"
      >
        <h5>error</h5>
        <p th:text="${error}"></p>
      </div>
    </div>

    <script th:replace="/fragments/script :: script "></script>
    <footer th:replace="/fragments/footer :: footer"></footer>
  </body>
</html>
