<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head th:replace="/fragments/head :: head "></head>
  <body>
    <header th:replace="/fragments/header :: header "></header>
    <nav id="nav-1" th:replace="/fragments/nav :: nav"></nav>

    <div class="container my-5" >
      <div class="p-5 text-center bg-body-tertiary rounded-3">
    <div id="contenido" >
      <table >
        <thead>
          <tr>
            <th>Clientes</th>
            <th>Proveedores</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a type="button" href="/usuario/lista">Listar Clientes</a>
            </td>
            <td>
              <a type="button" href="/proveedor/lista">Listar Proveedores</a>
            </td>
          </tr>
        </tbody>
      </table><br><br>
      <table>
        <thead>
          <tr>
            <th>Contrataciones</th>
            <th>Rubros</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a type="button" href="/contratacion/lista">Listar Contrataciones</a>
            </td>
            <td>
              <a type="button" href="/rubro/lista">Listar Rubros</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    </div>

    
    
        <h5>exito</h5>
        <p th:text="${exito}"></p>
      </div>
      <div th:if="${error != null}" id="error" class="card text-white bg-danger mb-3 mensajeError">
        <h5>error</h5>
        <p th:text="${error}"></p>
      </div>
    </div>

    <script th:replace="/fragments/script :: script "></script>
    <footer th:replace="/fragments/footer :: footer"></footer>
  </body>
</html>
