<!DOCTYPE html>

<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head th:replace="/fragments/head :: head "></head>

  <body>
    <header th:replace="/fragments/header :: header "></header>
    <nav id="nav-1" th:replace="/fragments/nav :: nav"></nav>
    
    <div class="form-group my-3">
    <img
      th:src="@{/7.png}"
      class="d-block mx-lg-auto img-fluid"
      alt="Bootstrap Themes"/>
      <br/>
      <h3 style="text-align: center;" class="card-title">Actualizar Perfil</h3>
    </div>
    <div id="exito/error">
      <div
        th:if="${exito != null}"
        id="exito"
        class="card text-white bg-success mb-3 mt-3 mensajeExito"
      >
        <h5>exito</h5>
        <p th:text="${exito}"></p>
      </div>
      <div
        th:if="${error != null}"
        id="error"
        class="card text-white bg-danger mb-3 mensajeError"
      >
        <h5>error</h5>
        <p th:text="${error}"></p>
      </div>
    </div>

    <div class="container my-5">
      <div class="p-5 text-center bg-body-tertiary rounded-3">
        <form
          class="formulario"
          th:action="@{/usuario/editarPerfil/__${session.usuario.id}__}"
          method="POST"
          enctype="multipart/form-data"
        >
        <div class="form-group my-3">
            <h3 class="card-title">Modificacion de Perfil</h3>
          </div>
          <br />

          <div class="form-group my-3">
            <label for="nombre" style="display: flex">Nombre</label>
            <input
              type="text"
              class="form-control"
              name="nombre"
              th:placeholder="${session.usuario.nombre}"
              th:value="${session.usuario.nombre}"
            />
          </div>

          <div class="form-group my-3">
            <label for="apellido" style="display: flex"
              >Apellido</label
            >
            <input
              type="text"
              class="form-control"
              name="apellido"
              th:placeholder="${session.usuario.apellido}"
              th:value="${session.usuario.apellido}"
            />
          </div>

<!--          <div class="form-group my-3">
            <label for="documento" style="display: flex"
              >Documento</label
            >
            <input
              type="text"
              class="form-control"
              name="documento"
              th:placeholder="${session.usuario.documento}"
              th:value="${documento}"
            />
          </div>
-->
          <div class="form-group my-3">
            <label for="email" style="display: flex">Correo electronico</label>
            <input
              type="email"
              class="form-control"
              name="email"
              th:placeholder="${session.usuario.email}"
              th:value="${session.usuario.email}"
            />
          </div>
          
          <div class="form-group my-3">
            <label for="archivo" style="display: flex">Foto</label><br />
            <input type="file" class="form-control" name="archivo" />
          
          <div class="form-group my-3">
            <label for="password" style="display: flex"
              >Contraseña del Usuario</label
            >
            <input
              type="password"
              class="form-control"
              name="password"
              placeholder="Ingrese su contraseña"
            />
          </div>
<!--
          <div class="form-group my-3">
            <label for="password2" style="display: flex"
              >Repita contraseña del Usuario</label
            >
            <input
              type="password"
              class="form-control"
              name="password2"
              placeholder="Repita la contraseña"
              th:value="${password2}"
            />
          </div>
          -->
          <div class="form-group my-3">
            <label for="telefono" style="display: flex"
              >Telefono</label
            >
            <input
              type="text"
              class="form-control"
              name="telefono"
              th:placeholder="${session.usuario.telefono}"
              th:value="${session.usuario.telefono}"
            />
          </div>

          <div class="form-group my-3">
            <label for="direccion" style="display: flex"
              >Domicilio</label
            >
            <input
              type="text"
              class="form-control"
              name="direccion"
              th:placeholder="${session.usuario.direccion}"
              th:value="${session.usuario.direccion}"
            />
          </div>

          <button type="submit" class="btn btn-primary mt-3 botones">
            Actualizar
          </button>
          <button type="reset" class="btn btn-primary mt-3 botones">
            Borrar
          </button>
        </form>
      </div>
    </div>

    <section th:replace="/fragments/section :: section "></section>
    <script th:replace="/fragments/script :: script "></script>
    <footer th:replace="/fragments/footer :: footer"></footer>
  </body>
</html>
