<!DOCTYPE html>

<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head th:replace="/fragments/head :: head "></head>

  <body>
    <header th:replace="/fragments/header :: header "></header>
    <nav id="nav-1" th:replace="/fragments/nav :: nav"></nav>

    <div class="form-group my-3">
      <img
        th:src="@{/10.png}"
        class="d-block mx-lg-auto img-fluid"
        alt="Bootstrap Themes"
      />
      <br />
      <h3 style="text-align: center" class="card-title">Registro Reseña</h3>
      <br />
    </div>
    
    <div id="exito/error">
      <div
        th:if="${exito != null}"
        id="exito"
        class="card text-white bg-success mb-3 mt-3 mensajeExito"
      >
        <h5>exito</h5>
        <p th:text="${exito}"></p>
      </div>
      <div
        th:if="${error != null}"
        id="error"
        class="card text-white bg-danger mb-3 mensajeError"
      >
        <h5>error</h5>
        <p th:text="${error}"></p>
      </div>
    </div>

    <div class="container my-5">
      <div class="p-5 text-center bg-body-tertiary rounded-3">
        <form
          class="formulario"
          th:action="@{/resenia/calificado/__${contratacion.id}__}"
          method="POST"
          enctype="multipart/form-data"
        >

          <input hidden value="${contratacion.id}" name="id" >

          <p sec:authorize="hasRole('ADMIN')" >Contratacion id: <p th:text="${contratacion.id}"></p></p>
          <p sec:authorize="hasRole('ADMIN')" >Usuario id: <p th:text="${usuario.id}"></p></p>
          <p sec:authorize="hasRole('ADMIN')" >Proveedor id: <p th:text="${proveedor.id}"></p></p>
          <p>Usted se encuentra evaluando al Profesional: <br /><p th:text="${proveedor.nombre}" ></p></p>

          <select name="estrellas" required>
            <option value="UNO">1</option>
            <option value="DOS">2</option>
            <option value="TRES">3</option>
            <option value="CUATRO">4</option>
            <option value="CINCO">5</option>
          </select>
          <br />
          <br />

          <input type="textarea" placeholder="Descripcion" name="comentario" />
          <br />

          <button type="submit" class="btn btn-primary mt-3 botones">
            Aceptar
          </button>
        </form>
      </div>
    </div>

    <section th:replace="/fragments/section :: section "></section>
    <script th:replace="/fragments/script :: script "></script>
    <footer th:replace="/fragments/footer :: footer"></footer>
  </body>
</html>
